:root {
    --main-color: rgb(11, 40, 22);
    --text-color: white;
    --accent-top: rgb(171, 234, 195);
    --accent-bottom: rgb(233, 150, 217);
    --accent-text: rgb(38, 27, 27);
    --select-bg: rgb(255, 0, 0);
    --select-text: green;
}

::selection {
    background-color: var(--select-bg);
    color: var(--select-text);
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
}

header, footer {
    text-align: center;
}

pre {
    color: var(--accent-text);
    user-select: all;
}

.snippet-box {
    border: 2px dashed var(--text-color);
    background-color: var(--main-color);
    padding: 5px;
    margin: 5px;
    max-width: 250px;
}

.title {
    background-color: var(--main-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    position: relative;
    top: -15%;
    text-align: center;
}

.code-snippet {
    background: linear-gradient( 200deg, var(--accent-top), var(--accent-bottom));
    border-radius: 5px;
}

#code-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}